.centerAPI {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  text-align: left;
}
.centerAPI p {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  text-align: left;
}
ty {
  margin-bottom: -10px;
  margin-top: -10px;
}

/* -- New styles -- */
/* Request type */
details {
  color: var(--text-0);
  border: var(--col) 1px solid;
  border-radius: 0.5rem;
  padding: 5px;
  margin: 5px;
  text-align: left;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}
summary::before {
  display: inline-block;
  width: 3.5ch;
  text-align: center;
  content: var(--tex);
  background-color: var(--col);
  margin: 0px 2px;
  padding: 0px 2px;
  border-radius: 0.25rem;
}
/* Type colors/text */
.t-get {
  --tex: "Get";
  --col: var(--blue-1);
}
.t-post {
  --tex: "Post";
  --col: var(--red-1);
}
/* Argument type */
.r-m {
  color: var(--text-0);
  display: inline-block;
  background: var(--bg-4);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  padding: 0px 10px;
}
.r-o {
  color: var(--text-0);
  display: inline-block;
  background: var(--bg-4);
  clip-path: inset(0 0 0 0 round 50%);
  padding: 0px 10px;
}

/* Search */
.search {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  background-color: var(--bg-2);
}
.search input {
  border: none;
  width: 50vw;
  min-width: 0;
  max-width: 400px;
}